body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
}

.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item .active-category {
  color: #bc1515;
  background: #fff;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item .active-category path {
  fill: #bc1515;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item .active-category span {
  color: #bc1515;
}

#information-section {
  padding: 20px 0 36px 0;
  margin-bottom: auto;
  min-height: 470px;
}
#information-section .container .breadcrump-and-information {
  width: 955px;
  margin-left: auto;
}
#information-section .container .breadcrump-and-information .breadcrump {
  margin: 0 0 40px 0;
}
#information-section .container .breadcrump-and-information .breadcrump li:before {
  margin: 0 10px 0 calc(10px - 4px);
}
#information-section .container .breadcrump-and-information .breadcrump .uk-active {
  color: #000;
}
#information-section .container .breadcrump-and-information .information-block h2 {
  color: #000;
  font-weight: 800;
  font-size: 36px;
  font-family: "Source Sans Pro", sans-serif;
}
#information-section .container .breadcrump-and-information .information-block .text-information {
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
}
#information-section .container .breadcrump-and-information .information-block .text-information .text {
  font-size: 16px;
}
#information-section .container .breadcrump-and-information .information-block .text-information .list-contacts {
  list-style-type: none;
  padding-left: 0;
  line-height: 40px;
}
#information-section .container .breadcrump-and-information .information-block .text-information .list-contacts li a {
  text-decoration: none;
  color: #000;
}
#information-section .container .breadcrump-and-information .information-block .text-information .list-contacts li a span {
  color: #BC1515;
  margin-right: 10px;
}
#information-section .container .breadcrump-and-information .information-block .text-information .list-contacts li img {
  margin-right: 14px;
}

@media (max-width: 1024px) {
  #information-section .container .breadcrump-and-information {
    width: 100%;
  }
}