@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1210px;
  padding: 0 10px;
  margin: auto;
}

.md-xm-display {
  background-color: #2E2E2E;
  padding: 17px 0;
  display: none;
}
.md-xm-display .container .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.md-xm-display .container .menu .menu-button {
  cursor: pointer;
  padding-right: 5px;
}
.md-xm-display .container .menu .menu-button-and-logo {
  display: flex;
  align-items: center;
}
.md-xm-display .container .menu .menu-button-and-logo .logo-box {
  display: flex;
  align-items: center;
}
.md-xm-display .container .menu .menu-button-and-logo .logo-box img {
  width: 52px;
  height: 20px;
}
.md-xm-display .container .menu .menu-button-and-logo .logo-box .logo-text {
  margin: 0;
  font-size: 10px;
  color: #fff;
}
.md-xm-display .container .menu .menu-button-and-logo .logo-box .logo-text a {
  text-decoration: none;
  color: #fff;
}
.md-xm-display .container .menu .search-and-basket {
  display: flex;
  align-items: center;
}
.md-xm-display .container .menu .search-and-basket .search-button {
  width: 36px;
  height: 100%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.md-xm-display .container .menu .search-and-basket .basket {
  height: 100%;
  width: 40px;
  text-align: center;
  position: relative;
}
.md-xm-display .container .menu .search-and-basket .basket .basket-icon {
  position: relative;
}
.md-xm-display .container .menu .search-and-basket .basket .basket-icon img {
  filter: brightness(0%) invert(100%);
  width: 27px;
  height: 23px;
  transform: translateY(-10%);
}
.md-xm-display .container .menu .search-and-basket .basket .basket-icon .number-of-purchases {
  position: absolute;
  left: 50%;
  top: 56.8%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 9px;
}
.md-xm-display .container .menu .search-and-basket .basket a {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#search-modal {
  padding: 15px 5px;
}
#search-modal .uk-modal-dialog {
  background: transparent;
  padding: 30px 15px;
}
#search-modal form {
  width: 752px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
  outline: 0;
  display: flex;
}
#search-modal form button {
  color: #9b9b9b;
  border: 0;
  outline: 0;
  background: transparent;
  padding-right: 15px;
  cursor: pointer;
}
#search-modal form button:hover {
  color: #000;
}
#search-modal form input {
  border: 0;
  height: 50px;
  color: #000;
  padding-left: 15px;
  cursor: pointer;
}
#search-modal form input[type=search]::-webkit-input-placeholder {
  color: #9b9b9b;
}
#search-modal form input[type=search]::-moz-placeholder {
  color: #9b9b9b;
}

#offcanvas-nav .uk-active {
  margin-bottom: 15px;
  font-size: 20px;
}
#offcanvas-nav .uk-parent a {
  padding: 10px 0px;
}

.main-header {
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}
.main-header .up-header {
  padding: 10px 0;
  background-color: #2E2E2E;
}
.main-header .up-header .container .breadcrumb-and-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .up-header .container .breadcrumb-and-social .breadcrumb .breadcrumb-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}
.main-header .up-header .container .breadcrumb-and-social .breadcrumb .breadcrumb-list a {
  color: #9b9b9b;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s all ease;
  letter-spacing: 0.02em;
}
.main-header .up-header .container .breadcrumb-and-social .breadcrumb .breadcrumb-list a:hover {
  color: #fff;
}
.main-header .up-header .container .breadcrumb-and-social .breadcrumb .breadcrumb-list .slash {
  color: #515151;
  margin: 0 21px;
}
.main-header .up-header .container .breadcrumb-and-social .social {
  display: flex;
  color: #fff;
  align-items: center;
}
.main-header .up-header .container .breadcrumb-and-social .social p {
  margin-bottom: 0;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 18px;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list li {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
  transition: 0.3s all ease;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list li:first-child {
  margin-left: 0;
  background-color: #239fda;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list li:nth-child(2) {
  background-color: #29a71a;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list li:last-child {
  background-color: #5a8ec9;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list li:hover {
  background-color: #fff;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list li:first-child:hover a {
  color: #239fda;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list li:nth-child(2):hover a {
  color: #29a71a;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list li:last-child:hover a {
  color: #5a8ec9;
}
.main-header .up-header .container .breadcrumb-and-social .social .social-list li a {
  color: #fff;
  transition: 0.3s all ease;
}
.main-header .logo-and-info {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .logo-and-info .logo-box {
  display: flex;
  align-items: center;
}
.main-header .logo-and-info .logo-box .logo-text {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 0 30px;
}
.main-header .logo-and-info .address-and-time .address-and-time-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-header .logo-and-info .address-and-time .address-and-time-list li {
  color: #000;
  font-size: 15px;
  line-height: 32px;
}
.main-header .logo-and-info .address-and-time .address-and-time-list li a {
  color: #000;
  text-decoration: none;
  transition: 0.5s all ease;
}
.main-header .logo-and-info .address-and-time .address-and-time-list li a:hover {
  opacity: 0.7;
}
.main-header .logo-and-info .address-and-time .address-and-time-list li span {
  font-weight: 600;
}
.main-header .logo-and-info .address-and-time .address-and-time-list li img {
  margin-right: 10px;
}
.main-header .logo-and-info .phone-number-and-mail .phone-number a {
  color: #000;
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
  font-family: Nunito Sans;
  transition: 0.5s all ease;
}
.main-header .logo-and-info .phone-number-and-mail .phone-number a:hover {
  opacity: 0.7;
}
.main-header .logo-and-info .phone-number-and-mail .mail img {
  margin-right: 10px;
}
.main-header .logo-and-info .phone-number-and-mail .mail a {
  color: #000;
  transition: 0.5s all ease;
  font-family: Nunito Sans;
  font-size: 15px;
  text-decoration: none;
}
.main-header .logo-and-info .phone-number-and-mail .mail a:hover {
  opacity: 0.7;
}
.main-header .menu-search-basket {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .menu-search-basket .menu {
  position: relative;
}
.main-header .menu-search-basket .menu .button-nav {
  min-height: auto;
  text-transform: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 120%;
  color: #fff;
  padding: 13px 35px 15px 20px;
  background: #ce1111;
  border-radius: 4px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.main-header .menu-search-basket .menu .button-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}
.main-header .menu-search-basket .menu .button-nav:hover::before {
  left: 100%;
}
.main-header .menu-search-basket .menu .button-nav img {
  margin-right: 13px;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown {
  top: 80px !important;
  width: 223.03px;
  background: #535050;
  padding: 15px 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  list-style-type: none;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #535050;
  top: 0;
  left: 25px;
  transform: rotate(45deg) translateY(-70%);
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item {
  border-bottom: 1px solid #5f5f5f;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item:last-child {
  border-bottom: 0;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item > a {
  color: #fff;
  font-size: 15px;
  padding: 17px 20px;
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item > a:hover {
  color: #bc1515;
  background: #fff;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item > a:hover span {
  color: #bc1515;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item > a:hover svg path {
  fill: #bc1515;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item > a span {
  margin-left: auto;
  line-height: 30px;
  color: #a9a7a7;
  transition: 0.3s all ease;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item > a > img {
  margin-right: 14px;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item > a > svg {
  margin-right: 14px;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item > a > svg path {
  transition: 0.3s all ease;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item .pod-category {
  background: #fff;
  left: 243.016px !important;
  border-radius: 7px;
  min-width: 226px;
  width: auto;
  padding: 25px 30px 30px 30px;
  top: 15px !important;
  list-style-type: none;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item .pod-category:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  top: 37px;
  left: 0;
  transform: rotate(45deg) translateX(-70%);
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item .pod-category li {
  margin-bottom: 20px;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item .pod-category li:last-child {
  margin-bottom: 0;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item .pod-category a {
  color: #000;
  text-decoration: none;
  transition: 0.3s all ease;
  font-size: 15px;
  font-weight: 500;
}
.main-header .menu-search-basket .menu .uk-navbar-dropdown .kategory-item .pod-category a:hover {
  color: #bc1515;
}
.main-header .menu-search-basket .search form {
  width: 752px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
  outline: 0;
  display: flex;
}
.main-header .menu-search-basket .search form button {
  color: #9b9b9b;
  border: 0;
  outline: 0;
  background: transparent;
  padding-right: 15px;
  cursor: pointer;
}
.main-header .menu-search-basket .search form button:hover {
  color: #000;
}
.main-header .menu-search-basket .search form input {
  border: 0;
  height: 50px;
  color: #000;
  padding-left: 15px;
  cursor: pointer;
}
.main-header .menu-search-basket .search form input[type=search]::-webkit-input-placeholder {
  color: #9b9b9b;
}
.main-header .menu-search-basket .search form input[type=search]::-moz-placeholder {
  color: #9b9b9b;
}
.main-header .menu-search-basket .basket {
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  width: 192px;
  height: 50px;
  position: relative;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s all ease;
}
.main-header .menu-search-basket .basket:hover {
  border-color: #000;
  border-radius: 35px;
}
.main-header .menu-search-basket .basket:hover::after {
  padding: 0;
}
.main-header .menu-search-basket .basket:after {
  content: "Корзина";
  position: absolute;
  font-weight: 500;
  top: 0;
  left: 0;
  color: #000;
  padding: 0 11px;
  background: #fff;
  transform: translate(7px, -60%);
  font-size: 15px;
  transition: 0.3s all ease;
}
.main-header .menu-search-basket .basket .price {
  color: #BC1515;
  font-weight: 500;
  transform: translate(0, 5%);
  transition: 0.3s all ease;
}
.main-header .menu-search-basket .basket .basket-icon {
  position: relative;
}
.main-header .menu-search-basket .basket .basket-icon img {
  transition: 0.3s all ease;
}
.main-header .menu-search-basket .basket .basket-icon .number-of-purchases {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -37%);
  color: #BC1515;
  font-weight: 500;
  font-size: 13px;
  transition: 0.3s all ease;
}
.main-header .menu-search-basket .basket a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

.main-footer {
  margin-top: auto;
  padding: 50px 0 30px 0;
  background: #2e2e2e;
}
.main-footer .container .logo-and-breadcrumb {
  display: flex;
  align-items: flex-start;
}
.main-footer .container .logo-and-breadcrumb .logo-box {
  width: 45%;
  display: flex;
  align-items: center;
}
.main-footer .container .logo-and-breadcrumb .logo-box .logo-text {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 0 30px;
}
.main-footer .container .logo-and-breadcrumb .breadcrumb {
  width: 55%;
}
.main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}
.main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list a {
  color: #9b9b9b;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s all ease;
  letter-spacing: 0.02em;
}
.main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list a:hover {
  color: #fff;
}
.main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list .slash {
  color: #515151;
  margin: 0 27px;
}
.main-footer .container .copyright-and-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #3E3E3E;
}
.main-footer .container .copyright-and-info .copyright {
  width: 45%;
  font-size: 13px;
  line-height: 150%;
  color: #fff;
}
.main-footer .container .copyright-and-info .info {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li {
  color: #fff;
  font-size: 15px;
  line-height: 32px;
}
.main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s all ease;
}
.main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li a:hover {
  opacity: 0.7;
}
.main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li span {
  font-weight: 600;
}
.main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li img {
  margin-right: 10px;
}
.main-footer .container .copyright-and-info .info .phone-number-and-mail .phone-number a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
  font-family: Nunito Sans;
  transition: 0.5s all ease;
}
.main-footer .container .copyright-and-info .info .phone-number-and-mail .phone-number a:hover {
  opacity: 0.7;
}
.main-footer .container .copyright-and-info .info .phone-number-and-mail .mail img {
  margin-right: 10px;
}
.main-footer .container .copyright-and-info .info .phone-number-and-mail .mail a {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 15px;
  text-decoration: none;
  transition: 0.5s all ease;
}
.main-footer .container .copyright-and-info .info .phone-number-and-mail .mail a:hover {
  opacity: 0.7;
}
.main-footer .container .social-and-developer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.main-footer .container .social-and-developer .social {
  display: flex;
  color: #fff;
  align-items: center;
}
.main-footer .container .social-and-developer .social p {
  margin-bottom: 0;
}
.main-footer .container .social-and-developer .social .social-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-footer .container .social-and-developer .social .social-list li {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  transition: 0.3s all ease;
}
.main-footer .container .social-and-developer .social .social-list li:first-child {
  margin-left: 0;
  background-color: #239fda;
}
.main-footer .container .social-and-developer .social .social-list li:nth-child(2) {
  background-color: #29a71a;
}
.main-footer .container .social-and-developer .social .social-list li:last-child {
  background-color: #5a8ec9;
}
.main-footer .container .social-and-developer .social .social-list li a {
  color: #fff;
  transition: 0.3s all ease;
}
.main-footer .container .social-and-developer .developer a {
  font-size: 14px;
  color: #9B9B9B;
  text-decoration: underline;
}
.main-footer .container .social-and-developer .developer a img {
  margin-left: 5px;
}
.main-footer .container .social-and-developer .developer a:hover {
  color: #fff;
}
.main-footer .container .social-and-developer .developer a:hover img {
  filter: brightness(0%) invert(100%);
}

@media (max-width: 1024px) {
  .md-xm-display {
    display: block;
  }

  .container {
    padding: 0 15px;
  }

  .main-header {
    display: none;
  }
  .main-header .logo-and-info .logo-box {
    display: flex;
    align-items: center;
  }
  .main-header .logo-and-info .logo-box img {
    width: 102px;
    height: 60px;
  }
  .main-header .logo-and-info .logo-box .logo-text {
    font-size: 16px;
    margin: 0 0 0 15px;
  }
  .main-header .logo-and-info .address-and-time .address-and-time-list li {
    font-size: 14px;
  }
  .main-header .logo-and-info .phone-number-and-mail .phone-number a {
    font-size: 20px;
  }
  .main-header .logo-and-info .phone-number-and-mail .mail {
    font-size: 15px;
  }
  .main-header .logo-and-info .phone-number-and-mail .mail img {
    margin-right: 10px;
  }
  .main-header .menu-search-basket .search form {
    width: 552px;
  }
  .main-header .menu-search-basket .basket .basket-icon .number-of-purchases {
    transform: translate(-50%, -35%);
  }

  .main-footer .container .logo-and-breadcrumb .logo-box img {
    width: 102px;
    height: 60px;
  }
  .main-footer .container .logo-and-breadcrumb .logo-box .logo-text {
    font-size: 16px;
    margin: 0 0 0 15px;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list {
    font-size: 9px;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list .slash {
    margin: 0 20px;
  }
  .main-footer .container .copyright-and-info .copyright {
    font-size: 11px;
  }
  .main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li {
    font-size: 10px;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .phone-number a {
    font-size: 14px;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .mail {
    font-size: 12px;
  }
}
@media (max-width: 854px) {
  .md-xm-display {
    display: block;
  }

  .main-header {
    display: none;
  }

  .main-footer .container .logo-and-breadcrumb .logo-box img {
    width: 82px;
    height: 50px;
  }
  .main-footer .container .logo-and-breadcrumb .logo-box .logo-text {
    margin: 0 0 0 5px;
    font-size: 12px;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list {
    font-size: 8px;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list .slash {
    margin: 0 20px;
  }
  .main-footer .container .copyright-and-info .copyright br {
    display: none;
  }
  .main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li {
    font-size: 9px;
  }
  .main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li img {
    margin-right: 3px;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .phone-number a {
    font-size: 13px;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .mail {
    font-size: 10px;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .mail img {
    margin-right: 5px;
  }
}
@media (max-width: 640px) {
  .main-footer {
    padding: 25px 0;
  }
  .main-footer .container .logo-and-breadcrumb {
    flex-direction: column;
  }
  .main-footer .container .logo-and-breadcrumb .logo-box {
    width: auto;
    margin-bottom: 25px;
  }
  .main-footer .container .logo-and-breadcrumb .logo-box img {
    width: 82px;
    height: 50px;
  }
  .main-footer .container .logo-and-breadcrumb .logo-box .logo-text {
    margin: 0 0 0 15px;
    font-size: 13px;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb {
    width: 100%;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list {
    font-size: 10px;
    justify-content: center;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list .slash {
    margin: 0 7px;
  }
  .main-footer .container .copyright-and-info {
    flex-direction: column-reverse;
  }
  .main-footer .container .copyright-and-info .copyright {
    width: 100%;
    margin-top: 15px;
  }
  .main-footer .container .copyright-and-info .copyright br {
    display: none;
  }
  .main-footer .container .copyright-and-info .info {
    width: 100%;
    flex-direction: column;
  }
  .main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li {
    font-size: 12px;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .phone-number {
    margin: 15px 0 10px 0;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .phone-number a {
    font-size: 15px;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .mail {
    font-size: 12px;
  }
  .main-footer .social-and-developer {
    margin-top: 20px !important;
    flex-direction: column;
  }
  .main-footer .social-and-developer .social {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .main-footer {
    padding: 25px 0;
  }
  .main-footer .container .logo-and-breadcrumb {
    flex-direction: column;
  }
  .main-footer .container .logo-and-breadcrumb .logo-box {
    width: auto;
    margin-bottom: 25px;
  }
  .main-footer .container .logo-and-breadcrumb .logo-box img {
    width: 82px;
    height: 50px;
  }
  .main-footer .container .logo-and-breadcrumb .logo-box .logo-text {
    margin: 0 0 0 15px;
    font-size: 13px;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb {
    width: 100%;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list {
    font-size: 9px;
    justify-content: center;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list .slash {
    margin: 0 7px;
  }
  .main-footer .container .copyright-and-info {
    flex-direction: column-reverse;
  }
  .main-footer .container .copyright-and-info .copyright {
    width: 100%;
    margin-top: 15px;
  }
  .main-footer .container .copyright-and-info .copyright br {
    display: none;
  }
  .main-footer .container .copyright-and-info .info {
    width: 100%;
    flex-direction: column;
  }
  .main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li {
    font-size: 12px;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .phone-number {
    margin: 15px 0 10px 0;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .phone-number a {
    font-size: 15px;
  }
  .main-footer .container .copyright-and-info .info .phone-number-and-mail .mail {
    font-size: 12px;
  }
  .main-footer .social-and-developer {
    margin-top: 20px !important;
    flex-direction: column;
  }
  .main-footer .social-and-developer .social {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .md-xm-display .container .menu .menu-button-and-logo .logo-box {
    margin-left: 7px;
  }
  .md-xm-display .container .menu .menu-button-and-logo .logo-box .logo-text {
    font-size: 8px;
    margin-left: -3px;
  }
  .md-xm-display .container .menu .menu-button-and-logo .logo-box .logo-text a {
    font-size: 8px;
  }

  .main-footer .container .logo-and-breadcrumb .logo-box .logo-text {
    margin: 0 0 0 10px;
    font-size: 11px;
  }
  .main-footer .container .logo-and-breadcrumb .breadcrumb .breadcrumb-list {
    font-size: 7px;
  }
  .main-footer .container .copyright-and-info .info .address-and-time .address-and-time-list li {
    font-size: 11px;
  }
}